<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CM_v1"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.info.InfoActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingCowInfo"
            >
        </activity>
        <activity
            android:name=".SettingCowHome"
            android:label="@string/title_setting_cow_home">
        </activity>
        <activity
            android:name=".SettingHealthDurg"
            android:label="@string/title_setting_health_drug">
        </activity>
        <activity
            android:name=".SettingHealthDisease"
            android:label="@string/title_setting_health_drug">
        </activity>
        <activity
            android:name=".SettingFoodInfo"
            android:label="@string/title_setting_food_info">
        </activity>
        <activity
            android:name=".SettingFoodChange"
            android:label="@string/title_setting_food_info">
        </activity>
        <activity
            android:name=".SettingSpermInfo"
            android:label="@string/title_setting_food_info">
        </activity>
        <activity
            android:name=".SettingSpermCount"
            android:label="@string/title_setting_food_info">
        </activity>
        <activity
            android:name=".SettingCustomTag"
            android:label="@string/title_setting_food_info">
        </activity>


    </application>

</manifest>